services:
  db:
    image: postgres:16
    container_name: goinnovior_db
    restart: always
    profiles:
      - dev
      - prod
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db_name
    ports:
      - '5437:5432'
  
  backend:
    platform: linux/amd64
    image: sharif780/backendgoinnovior:latest
    container_name: goinnovior_server
    ports:
      - '3000:3000'
    profiles:
      - build
      - prod
    env_file:
      - .env
    depends_on:
      - db
    
