services:
  db:
    image: postgres:16
    container_name: goinnovior_db
    restart: always
    profiles:
      - dev
      - prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '${DB_PORT}:5432'
  
  server:
    build:
      cantex: .
      dockerfile: Dockerfile
    image: sharif780/backendgoinnovior:latest
    container_name: goinnovior_server
    restart: always
    profiles:
      - build
      - prod
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - '${PORT}:${PORT}'
