services:
  db:
    image: postgres:16
    container_name: goinnovior_db
    restart: always
    profiles:
      - dev
      - prod
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - '${DB_PORT}:5432'

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: goinnovior:latest
    container_name: goinnovior_app
    restart: always
    profiles:
      - prod
    depends_on:
      - db
    env_file:
      - .env
    # environment:
    #   NODE_ENV: development
    #   PORT: 3000
    #   DATABASE_URL: postgres://postgres:password@db:5432/db_name?schema=public

    #   # Seed admin user
    #   SUPER_ADMIN_EMAIL: admin@example.com
    #   SUPER_ADMIN_PASSWORD: adminpassword
    #   SUPER_ADMIN_USERNAME: ADMIN

    #   # JWT Secret
    #   JWT_SECRET: your_jwt_secret_key_here
    ports:
      - '${PORT}:${PORT}'
    command: pnpm run start:dev
    # volumes:
    #   - .:/usr/src/app
    #   - /usr/src/app/node_modules
